extends cataloguelayout

block container
	div.carForm
		div.wrapper
			form(action="" method="post")
				div.autoPadding
					label(for="car" id="car") Car:
					select(name="car")
						for car in cars
							option(value=car.id) #{car.brand.name} #{car.name}
				div.autoPadding
					label(for="status" id="status") Status:
					select(name="status")
						for status in ["Available","Out of Stock","Available-SecondHand"]
							option(value=status)=status
				div.autoPadding
					button(type="submit") Submit
	if errors
		div.wrapper
			div.autoPadding
				ul
					for error in errors
						li=error.msg
